.inputErro{
  border: 2px solid red;
}
.erro{
  color:red;
}

header h1 {
  text-align: center;
}

button{
  border: 2px solid rgb(15, 32, 184);
  border-radius: 10px;
  padding: 5px 5px;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  width: 120px;

}
button:hover{
  border: 2px solid rgb(15, 32, 184);
  color: rgb(3, 0, 0);
  background-color: rgb(7, 158, 15);
}

.button-add {
  text-align: center;
  margin-left: 33%;
  margin-top: 2%;
}

form {
  border: 2px solid rgb(15, 32, 184);
  width: 40%;
  height: 55%;
  padding: 20px;
  text-align: justify all;
  margin-left: 30%;
  margin-top: 2%;
}

input{
  height: 25px;
  width: 40%;

}
textarea {
  height: 50px;
  width: 50%;
  

}

#sessionNum_counter  {
  font-size: 12px;
  display: flex;
  margin-left: 12%;
}


.date-cadastro, .text-cadastro   {
  margin: 10px 0;
}

#select-form   {
  width: 50%;
}

.container div {
  align-items: center;
  justify-content: center;
  
 
}

#enviar {
  margin-top: 20px;
}


table td, th{
  border-collapse: collapse;
  border: 1px solid;

}

.list-form {
  margin-left: 20%;
  margin-top: 10px;
}



.summary {
  width: 500px;
  border: 1px solid;
  border-collapse: collapse;
  margin: 30px auto;
  text-align: center;
}

table th {
  background-color: #ccc;
}

.fa-thumbs-up   {
  width: 20px;
  padding: 3px;
  margin: 0 20px;
  cursor: pointer;
  text-align: left;
}

/*Codigos CSS novos*/
table {
  width: 550%;
  border: 1px solid;
  border-collapse: collapse;
  margin: 70px auto;
}

table th,
table td {
  text-align: center;
  border: 1px solid;
}
.user img {
  width: 30px;
}

table .negativo,
table .positivo {
  width: 60px;
}
table td input[type="text"] {
  width: 200px;
  border: none;
  outline: none;
  font-size: 18px;
}

